{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    {{book.id_Book}}
    {{book}}
    <div class="container">
        <br/>
        <h2> Добавление книги </h2>
        <br/>
            <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ forms.as_p }}
                    <input type="submit" class="btn btn-primary" value="Добавить книгу">
            </form>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
{% endblock %}